.btn-outline-dark {
    background-color: #464F51;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.btn-outline-dark:hover {
    opacity: 1;
    background-color: #A15E49;
}

body {
    background: hsla(0, 0%, 97%, 1);

    background: linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    background: -moz-linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    background: -webkit-linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F7F7F7", endColorstr="#ABC9E9", GradientType=1);
}

.feature-icons {
    width: 50px;
    height: 50px;
}

.btn-search {
    background-color: #464F51;
    border: none;
    color: white;
    text-align: center;
    transition: 0.3s;
}

.btn-search:hover {
    background-color: #A15E49;
}

footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.507);
}

.bi-google-play {
    color: white;
}

.bi-apple {
    color: white;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.507);
}

.copyright-text:hover {
    color: #A15E49;
}

.nav-link {
    color: rgba(255, 255, 255, 0.507);
  }
  
.nav-link:hover {
    color: #A15E49;
  }

.login-btn {
    background-color: #A15E49;
}

.login-btn:hover {
    background-color: #A15E49;
}

#login-btn-link {
    background-color: #A15E49;
    color: white;
    text-decoration: none;
}

