body {
    background: hsla(0, 0%, 97%, 1);

    background: linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    background: -moz-linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    background: -webkit-linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F7F7F7", endColorstr="#ABC9E9", GradientType=1);
}

footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.507);
}

.bi-google-play {
    color: white;
}

.bi-apple {
    color: white;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.507);
}

.copyright-text:hover {
    color: #A15E49;
}


  .login-btn {
    background-color: #A15E49;
}

.login-btn:link {
    background-color: #A15E49;
}

.login-btn:hover {
    background-color: #A15E49;
}

.login-btn:active {
    background-color: #A15E49;
}

#login-btn-link1 {
    background-color: #A15E49;
    color: white;
    text-decoration: none;
}