body {
    background: hsla(0, 0%, 97%, 1);

    background: linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    background: -moz-linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    background: -webkit-linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F7F7F7", endColorstr="#ABC9E9", GradientType=1);
}

#list1 .form-control {
    border-color: transparent;
}

#list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

#list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
}

.btn-morning-add {
    background-color: #464F51;
    border: none;
    color: white;
    text-align: center;
    transition: 0.3s;
}

.btn-morning-add:hover {
    background-color: #A15E49
}


.btn-search {
    background-color: #464F51;
    border: none;
    color: white;
    text-align: center;
    transition: 0.3s;
}

.btn-search:hover {
    background-color: #A15E49;
}

.text-morning-title {
    text-decoration: none;
}

.list-group-item {
    border: none;
}

.bi-calendar-date {
    color: black;
}