.btn-hero-cta {
    background-color: #464F51;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.btn-hero-cta:hover {
    opacity: 1;
    background-color: #A15E49;
}

body {
    background: hsla(0, 0%, 97%, 1);

    background: linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    background: -moz-linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    background: -webkit-linear-gradient(-90deg, hsla(0, 0%, 97%, 1) 0%, hsla(211, 58%, 79%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F7F7F7", endColorstr="#ABC9E9", GradientType=1);
}

.feature-icons {
    width: 50px;
    height: 50px;
}

footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.507);
}

.bi-google-play {
    color: white;
}

.bi-apple {
    color: white;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.507);
}

.copyright-text:hover {
    color: #A15E49;
}

.tcaLinks {
    color: rgba(255, 255, 255, 0.507);
  }

.tcaLinks:hover {
    color: #A15E49;
}


.login-btn:link {
    background-color: #A15E49;
    color: white;
    text-decoration: none;
}

.login-btn:visited {
    background-color: #A15E49;
    color: white;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #A15E49;
    color: white;
    text-decoration: none;
}

.login-btn:active {
    background-color: #A15E49;
    color: white;
    text-decoration: none;
}



.btn-morning-add {
    background-color: #464F51;
    border: none;
    color: white;
    text-align: center;
    transition: 0.3s;
}

.btn-morning-add:hover {
    background-color: #A15E49
}

.btn-search {
    background-color: #464F51;
    border: none;
    color: white;
    text-align: center;
    transition: 0.3s;
}

.btn-search:hover {
    background-color: #A15E49;
}

.text-morning-title {
    text-decoration: none;
}

.list-group-item {
    border: none;
}

.bi-calendar-date,
.bi-trash3-fill,
.bi-pencil-square {
    color: black;
}


.morning-list-item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 15px;
}

.morning-list-item:hover {
    background: #93B7BE;
    color: white;
}

.deleteListItem {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 15px;
  }

  .deleteListItem:hover {
    color: red;
  }

  .night-list-item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 15px;
}

.night-list-item:hover {
    background: #93B7BE;
    color: white;
}